DJBRAIN_REDIS_URL=redis://redis:6379
DJBRAIN_MUSIC_FOLDER_PATH=/music
DJBRAIN_SONGS_FOLDER_PATH=songs
DJBRAIN_DOWNLOAD_FOLDER_PATHS=soulseek/complete,hasoulseek/complete
DJBRAIN_SLSKD_BASE_URL=http://localhost:5030
DJBRAIN_SLSKD_API_KEY=
DJBRAIN_DISCOGS_USER_TOKEN=
DJBRAIN_GROK_API_KEY=
DJBRAIN_SERPER_API_KEY=
DJBRAIN_YOUTUBE_API_KEY=
